

{% extends "QuelpImageBundle::layout.html.twig" %}

{% block title %} Search result {% endblock %}

{% block content %}

<br><br>
{% include "QuelpConnectBundle:Common:left_bloc.html.twig"  %}

<div class="col-xs-12 col-md-7">
    <div class="panel panel-info">
        <div class="panel-heading">
			<a class="dropdown-toggle" data-toggle="dropdown"><h4>Search result</h4> </a>
        </div>

        <div class="">    <br><br>
				<!-- Resultat de la recherche -->
				
				{% for key, row in users_found %}
                <div class="follow-list">
                    <div class="media">
                        <div class="pull-left">
                            <a href="{{ path('quelp_connect_profilepage', {'id': row.id}) }}"><img src="{{asset('bundles/front/img/default-avatar.png')}}" height="100px" alt="..."></a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{ row.surname }}</h4><br>
                            {% if (etat[key] == "Deja partenaire") %}
                                <a class="btn btn-success" href="{{ path('quelp_connect_profilepage', {'id': row.id}) }}">View Profil</a>
                            {% elseif etat[key] == "en attente" %}
                                <a class="btn btn-warning disabled" href="{{ path('quelp_relation_accept', {'id': row.id}) }}">{{ etat[key]}}</a>
                            {% elseif etat[key] == "confirmation" %}
                                <a class="btn btn-warning" href="{{ path('quelp_relation_accept', {'id': row.id}) }}">{{ etat[key]}}</a>
                            {% else %}
                                <a class="btn btn-primary" href="{{ path('quelp_relation_demande', {'id': row.id}) }}">{{ etat[key]}}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
				{% endfor %}
           
		</div>      <br><br>

		<div class="row">

		</div>
	</div>
</div>

</div>
{% include "QuelpConnectBundle:Common:right_bloc.html.twig"  %}

{% endblock %}