

{% extends "QuelpImageBundle::layout.html.twig" %}

{% block title %} Search result {% endblock %}

{% block content %}

<br><br>
<div class="col-xs-12 col-md-3" >

    <div class="panel panel-info"  align="center"  >
        <div class="panel-heading">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h4 class="text-center">My Profile</h4> </a>
        </div>



        <img src="{{asset('bundles/front/img/default-avatar.png')}}"  height="35%" width="35%" class="img-thumbnail" >
        <p><strong>Nom&Prenom</strong></p>
        <br><br><br><br><br><br>
        <div class="" align ="left">
            &nbsp;&nbsp;
            <span class="glyphicon glyphicon-camera"></span> <strong>TELECHARGER</strong>
        </div>
        <br>
        <div class="form-group">

            <input type="file" id="exampleInputFile">

        </div>
        <br>
        <button type="submit" class="btn btn-sm"><strong>VAlIDER</strong></button>
        <br><br><br><br>

        <div class="" align ="left" >
            &nbsp;&nbsp;
            <span class="glyphicon glyphicon-pencil"></span> <strong>ECRIRE</strong></div>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <textarea class="form-control" rows="3" placeholder="Exprimer-vous" style=" width: 98%"></textarea>
        <div class="col-sm-offset-9 col-sm-3">
            <button type="submit" class="btn btn-default"><strong>&nbsp;&nbsp;OK&nbsp;&nbsp;</strong></button>
        </div>
        <br><br><br><br>
        <br>
        <br>

    </div>
</div>


<div class="col-xs-12 col-md-7">
    <div class="panel panel-info">
        <div class="panel-heading">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><h4>Search result</h4> </a>
        </div>

        <div class="">    <br><br>
				<!-- Resultat de la recherche -->
				
				{% for key, row in users_found %}
                <div class="follow-list">
                    <div class="media">
                        <div class="pull-left">
                            <a href="{{ path('quelp_connect_profilepage', {'id': row.id}) }}"><img src="{{asset('bundles/front/img/default-avatar.png')}}" height="100px" alt="..."></a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{ row.surname }}</h4><br>
                            {% if (etat[key] == "Deja partenaire") %}
                                <a class="btn btn-success" href="{{ path('quelp_connect_profilepage', {'id': row.id}) }}">View Profil</a>
                            {% elseif etat[key] == "en attente" %}
                                <a class="btn btn-warning disabled" href="{{ path('quelp_relation_accept', {'id': row.id}) }}">{{ etat[key]}}</a>
                            {% elseif etat[key] == "confirmation" %}
                                <a class="btn btn-warning" href="{{ path('quelp_relation_accept', {'id': row.id}) }}">{{ etat[key]}}</a>
                            {% else %}
                                <a class="btn btn-primary" href="{{ path('quelp_relation_demande', {'id': row.id}) }}">{{ etat[key]}}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
				{% endfor %}
           
		</div>      <br><br>

		<div class="row">

		</div>
	</div>
</div>

</div>

<!-- Contenu Ami en ligne -->
<div class="col-xs-12 col-md-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h4 class="text-center">My Friends</h4> </a>
        </div>
        <div class="boder">
            <input type="text" class="form-control" placeholder="chat with  ..."></br>
            <div class="panel-group" id="accordion">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <p class="text-center">En ligne (5)  <span class="glyphicon glyphicon-chevron-down"></span></p>
                    </a>
                </h4>

                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <br>
                        <table class="table">
                            <tr>
                                <td><a href=""><img src="image/icone-marvel.png" alt="" height="25px" class="img-circle"></a></td>
                                <td><a href="" class="lien">Thomas</a></td>
                                <td><span class="glyphicon glyphicon-ok-sign" style="color: #67b168"></span></td>
                            </tr>
                            <tr>
                                <td><a href=""><img src="image/avatar2.jpg" alt="" height="25px" class="img-circle"></a></td>
                                <td><a href="" class="lien">Damien</a></td>
                                <td><span class="glyphicon glyphicon-ok-sign" style="color: #67b168"></span></td>
                            </tr>
                            <tr>
                                <td><a href=""><img src="image/black-widow-icon.png" alt="" height="25px" class="img-circle"></a></td>
                                <td><a href="" class="lien">Anne</a></td>
                                <td><span class="glyphicon glyphicon-ok-sign" style="color: #eea236 "></span></td>
                            </tr>
                            <tr>
                                <td><a href=""><img src="image/naruto.png" alt="" height="25px" class="img-circle"></a></td>
                                <td><a href="" class="lien">Julien</a></td>
                                <td><span class="glyphicon glyphicon-ok-sign" style="color: #67b168"></span></td>
                            </tr>
                            <tr>
                                <td><a href=""><img src="image/rosa.jpg" alt="" height="25px" class="img-circle"></a></td>
                                <td><a href="" class="lien">Sophie</a></td>
                                <td><span class="glyphicon glyphicon-ok-sign" style="color: #67b168"></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}