{# Cette page est le tronc commun pour les pages de connections /Header/Body/Footer #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Quelp | {% block title %}{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="keywords" content="reseau, reseau social, aide, besoin">
    <meta name="description" content="Quelp est un reseau social">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% stylesheets
    'bundles/front/bootstrap/css/bootstrap.min.css'
    'bundles/front/css/style.css'
    'bundles/front/css/styla.css'
    'bundles/front/css/custom.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body onload="javascript:loadAjax()" >
<div class="connect-status">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <span class="know-status">{{ ''|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |</span>
        <button class="btn btn-default btn-primary deconnect-button">
            <a class="link-deconnect" href="{{ path('fos_user_security_logout') }}" style="color: #f5f5f5">
                Log out
            </a>
        </button>
    {% else %}
        <a class="not-connected" href="{{ path('quelp_connect_connectpage') }}"><!--{{ 'layout.login'|trans({}, 'FOSUserBundle') }}--></a>
    {% endif %}
</div>

{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="flash-{{ type }}" style="display: none">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}


{# Ici on charge et on affiche le contenu du header #}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% include "QuelpImageBundle:Common:mur.html.twig"  %}
    {% else %}
        {% include "QuelpConnectBundle:Common:header_connect.html.twig" %}

        {% block content %}
            {# Ici on charge et on affiche le contenu de chaque page #}
        {% endblock %}
        {# Ici on charge et on affiche le contenu du footer #}
        {% include "QuelpConnectBundle:Common:footer.html.twig" %}
    {% endif %}




{% javascripts
'bundles/front/js/jquery/jquery.js'
'bundles/front/js/jquery-latest.min.js'
'bundles/front/js/jquery.min.js'
'bundles/front/bootstrap/js/bootstrap.min.js'
'bundles/front/js/effects.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block script %}
{% endblock %}

</body>
</html>
