{% extends "QuelpImageBundle::layout.html.twig" %}

{% block title %} Albums {% endblock %}

{% block content %}

<br> <br>
<div class="col-xs-12 col-md-10">
    <div class="panel panel-info">
        <div class="panel-heading" style="padding:0px; border-bottom:0px">
            <div class="row">
                <div class="col-xs-12 col-md-2" align="center">

                    <h2>Galerie</h2>

                </div>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <div class="pull-right" style="margin-right:50px; margin-top:20px">
                            <span class="glyphicon glyphicon-cog"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Ajouter</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Supprimer</a></li>
                    </ul>
                </li>
            </div></div>
        <br> <br>
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="thumbnail">
                    <ul class="list-inline">
                        <li><h4>Titre</h4></li>
                        <li>JJ/MM/AA</li>
                    </ul>
                    <img src="{{asset('bundles/front/img/geek.jpg')}}">
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="thumbnail">
                    <ul class="list-inline">
                        <li><h4>Titre</h4></li>
                        <li>JJ/MM/AA</li>
                    </ul>
                    <img src="{{asset('bundles/front/img/sky1.jpg')}}">
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="thumbnail">
                    <ul class="list-inline">
                        <li><h4>Titre</h4></li>
                        <li>JJ/MM/AA</li>
                    </ul>
                    <img src="{{asset('bundles/front/img/sky22.jpg')}}">
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="thumbnail">
                    <ul class="list-inline">
                        <li><h4>Titre</h4></li>
                        <li>JJ/MM/AA</li>
                    </ul>
                    <img src="{{asset('bundles/front/img/linux.jpg')}}">
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="thumbnail">
                    <ul class="list-inline">
                        <li><h4>Titre</h4></li>
                        <li>JJ/MM/AA</li>
                    </ul>
                    <img src="{{asset('bundles/front/img/sky3.jpg')}}">
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="thumbnail">
                    <ul class="list-inline">
                        <li><h4>Titre</h4></li>
                        <li>JJ/MM/AA</li>
                    </ul>
                    <img src="{{asset('bundles/front/img/fil.jpg')}}">
                </a>



            </div>
        </div>
        <br>
        <ul class="pager">
            <li><a href="#"><h4><strong> <-- </strong></h4></a></li>
            <li><a href="#"><h4><strong> --> </strong></h4></a></li>
        </ul>
    </div>

</div>

</div>
<div class="col-xs-12 col-md-2" >
    <div class="panel panel-primary" >
        <br><br>
<span style="color:green">
&nbsp;&nbsp;<i class="glyphicon glyphicon-off" style="font-size:17px;"></i></span>
        <strong> Amis&nbsp;Actifs </strong>
        <br><br>
        <ul>
            <li class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="...">

                    <div class="media-body">
                        <h5 class="media-heading">Ami1</h5>
                </a>
    </div>
    </li>
    <li class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="...">

            <div class="media-body">
                <h5 class="media-heading">Ami2</h5>
        </a>
</div>
</li>

<li class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src="...">

        <div class="media-body">
            <h5 class="media-heading">Ami3</h5>
    </a>
    </div>
</li>

<li class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src="...">

        <div class="media-body">
            <h5 class="media-heading">Ami4</h5>
    </a>
    </div>
</li>

<li class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src="...">

        <div class="media-body">
            <h5 class="media-heading">Ami5</h5> </a>

    </div>
</li>
<li class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src="...">

        <div class="media-body">
            <h5 class="media-heading">Ami6</h5>
    </a>
    </div>
</li>
<li class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src="...">

        <div class="media-body">
            <h5 class="media-heading">Ami7</h5>
    </a>
    </div>
</li>
<li class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src="...">

        <div class="media-body">
            <h5 class="media-heading">Ami8</h5>
    </a>
    </div>
</li>
<li class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src="...">

        <div class="media-body">
            <h5 class="media-heading">Ami9</h5>
    </a>
    </div>
</li>
</ul>
</div> </div>

{% endblock %}