{% extends "QuelpImageBundle::layout.html.twig" %}

{% block title %} Albums {% endblock %}

{% block content %}

<br> <br>
<div class="col-xs-12 col-md-10">
    <div class="panel panel-info">
        <div class="panel-heading" style="padding:0px; border-bottom:0px">
            <div class="row">
                <div class="col-xs-12 col-md-2" align="center">
                    <h2>Galerie</h2>
                </div>

                <ul>
                    <li class="dropdown">
                        <div class="pull-right" style="margin-right:50px; margin-top:20px">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="add-control">Activate Edit Action</a></li>
                                <li class="divider"></li>
                                <li><a href="#" class="delete-control">Activate Delete option</a></li>
                            </ul>

                        </div>
                    </li>
                </ul>
            </div></div>
        <br> <br>

        <div class="row">
            <div class="col-md-2">
                <a href="#" class="thumbnail">
                <ul class="list-inline">
                        <li><h4>Add an Album</h4></li>
                    </ul>
                    <img src="{{asset('bundles/front/img/png.png')}}" data-toggle="modal" data-target="#myModal">   
                </a>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" {{ form_enctype(img_form) }}>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times
                            </span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Add a new album</h4>
                        </div>
                        <div class="modal-body">
                                {{ form_widget(alb_form) }}
                            <br>
                            <div class="form-group">
                                {{ form_widget(img_form) }}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary pull-right">Add Album</button>
                        </div>
                    {{ form_rest(alb_form) }}
                    {{ form_rest(img_form) }}
                </form>
            </div>
        </div>
    </div>
                </div>

<!-- portion that lists all the albums of the user -->
                    <form id='delete' action="{{ path('quelp_albums_delete') }}" method="POST" >
                    {% for key, row in list_albums %}
                    <div class="col-md-3">
                        <a href="{{ path('quelp_image_albumpage', {'id': row.id}) }}" class="thumbnail">
                            <ul class="list-inline">
                                <li><h4>{{ row.name }}</h4></li>
                                <li>{{ row.editDate|date('Y-m-d') }}</li>
                            </ul>
                            <img src="{{asset('bundles/front/img/sky22.jpg')}}">
                        </a>
                        <span class="delete-pictures" style="text-align:right"><label><input type="checkbox" name="box[]" value="{{ row.id }}" style="text-align:right"></label></span>
                        <span class="add-pictures">
                        <a href="#" class="thumbnail">
                        <i class="glyphicon glyphicon-pencil"  data-toggle="modal" data-target="#myModalEdit{{ row.id }}"></i>
                        </a></span>
                    </div>
                    {% endfor %}

                    <div class="col-md-8 col-md-offset-2">
                        <br><br>
                        <input type="button" onClick="javascript: submitform()" class="btn btn-info confirm-delete-pictures" style="position: relative;left: 70%" value="DELETE" />
                        <button type="reset" class="btn btn-info confirm-delete-pictures">CANCEL</button>
                        <br><br>
                    </div>
                    </form>
        </div>
    </div></div>
<!-- end of show & delete form -->

<!-- portion that goes through each album to generate a fade modal for each (enables easy edit of an album) -->
{% for key, row in list_albums %}
<div class="modal fade" id="myModalEdit{{ row.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="{{ path('quelp_albums_edit', {'id': row.id}) }}">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times
                            </span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Change Albums's Name</h4>
                        </div>
                        <div class="modal-body">
                                Name : <input type="text" name="alb_name" value="{{ row.name }}"/>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary pull-right">Modify Album</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
{% endfor %}
<!-- end of edit form -->

{% include "QuelpConnectBundle:Common:right_bloc.html.twig"  %}

<script type="text/javascript">
    function submitform()
    {
        var result = confirm("Do you really want to delete the selected album(s)?\n all their contents will be deleted too ...");
        if (result) {
            var form = document.getElementById('delete');
            form.submit();
        }
        else{
            alert("deletion cancelled");
        }
    }
</script>

{% endblock %}

