{% extends "QuelpImageBundle::layout.html.twig" %}

{% block title %} Gallerie {% endblock %}

{% block content %}
<!-- Contenu header -->


<!-- Fin Contenu header -->

<!-- Contenu gallerie -->


<!-- Debut du contenu titre + nav -->
<div class="col-xs-12 col-md-10" style="margin-top: 20px">

<!-- Debut du contenu titre + nav -->
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-12 col-md-8" align="center">
                <h2>{{ def_albumId.name }}'s Images</h2>
            </div>
            <ul>
                <li class="dropdown">
                    <div class="pull-right" style="margin-right:50px; margin-top:20px">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-toggle="modal" data-target="#myModal">Add New Image</a></li>
                            <li class="divider"></li>
                            <li><a href="#" class="add-control">Activate Edit Action</a></li>
                            <li class="divider"></li>
                            <li><a href="#" class="delete-control">Activate Delete Action</a></li>
                        </ul>

                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- Fin du contenu titre + nav -->

    <!-- Début Gallerie -->
    <div class="col-xs-12 col-md-12" style="background-color: rgba(255, 255, 255, 0.8)">

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Add a new Image Here</h4>
                                </div>
                                <form method="post" {{ form_enctype(img_form) }}>

                                <div class="modal-body">
                                    <br>
                                    <div class="form-group">
                                        {{ form_widget(img_form) }}
                                        <!-- <input type="file" id="exampleInputFile" class="browse" multiple> -->
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary pull-right">Save changes</button>
                                </div>
                                {{ form_rest(img_form) }}
                                </form>
                            </div>
                        </div>
                    </div>

        <br>


        <!-- Image de l'album avec possibilité de suppression et ajout -->

        <form id='delete' action="{{ path('quelp_image_delete') }}" method="POST" >
        {% for key, row in list_img %}
            <div class="col-md-4">

            <!-- Lien vers image modal -->
            <a href="#" class="thumbnail rollopaque" data-toggle="modal" data-target=".bs-example-modal-lg">

                <!-- Image -->
                <img src="{{ asset('bundles/front/uploads/images/'~row['image'].imageName) }}">

                <!-- Titre de la photo -->
                <span class="hide-title">Added on {{ row['image'].editDate|date('d-M-Y') }}</span>
            </a>

            <!-- Suppression -->
            <span class="delete-pictures"><label><input type="checkbox" name="box[]" value="{{ row['image'].id }}"></label></span>
            <span class="add-pictures">
                        <a href="#" class="thumbnail">
                        <i class="glyphicon glyphicon-pencil"  data-toggle="modal" data-target="#myModalEdit{{ row['image'].id }}"></i>
                        </a></span>
            </div>
        {% endfor %}
         </form>

<!-- portion that goes through each album to generate a fade modal for each (enables easy edit of an album) -->
{% for key, row in list_img %}
<div class="modal fade" id="myModalEdit{{ row['image'].id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="{{ path('quelp_image_edit', {'id': row['image'].id}) }}">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times
                            </span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Change Image</h4>
                        </div>
                        <div class="modal-body">

                                <div class="form-group">
                                    Album :
                                    <select name="list_album">
                                        {% for key, row in list_album %}
                                            {% if row.id == def_albumId.id %}
                                                <option value="{{ row.id }}" selected="selected">{{ row.name }}</option>
                                            {% else %}
                                                <option value="{{ row.id }}">{{ row.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary pull-right">Change</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
{% endfor %}
<!-- end of edit form -->


       


        <div class="col-md-8 col-md-offset-2">
            <br><br>
            <input type="button" onClick="javascript: submitform()" class="btn btn-info confirm-delete-pictures" style="position: relative;left: 70%" value="DELETE">
            <button type="reset" onClick="javascript: reset()" class="btn btn-info confirm-delete-pictures">ANNULER</button>
            <br><br>
            <br><br>
        </div>


        <br>
    </div>
{% for key, row in list_album %}
    {% if (row.id == def_albumId.id) and (key == 0) and ((key + 1) < list_album|length) %}
        <table style="width: 100%">
            <tr>
                <td>
                    <ul class="pager">
                        <li>
                            <a href="#">
                                <h4><strong class="glyphicon glyphicon-chevron-left">  </strong></h4>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('quelp_image_albumpage', {'id': list_album[key + 1].id}) }}">
                                <h4><strong class="glyphicon glyphicon-chevron-right"> </strong></h4>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    {% elseif (row.id == def_albumId.id) and (key > 0) and ((key + 1) < list_album|length) %}
        <table style="width: 100%">
            <tr>
                <td>
                    <ul class="pager">
                        <li>
                            <a href="{{ path('quelp_image_albumpage', {'id': list_album[key - 1].id}) }}">
                                <h4><strong class="glyphicon glyphicon-chevron-left">  </strong></h4>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('quelp_image_albumpage', {'id': list_album[key + 1].id}) }}">
                                <h4><strong class="glyphicon glyphicon-chevron-right"> </strong></h4>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    {% elseif (row.id == def_albumId.id) and (key > 0) %}
        <table style="width: 100%">
            <tr>
                <td>
                    <ul class="pager">
                        <li>
                            <a href="{{ path('quelp_image_albumpage', {'id': list_album[key - 1].id}) }}">
                                <h4><strong class="glyphicon glyphicon-chevron-left">  </strong></h4>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h4><strong class="glyphicon glyphicon-chevron-right"> </strong></h4>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    {% endif %}
{% endfor %}
</div>

<div class="row">
    <!-- Image Modal -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" id="modal-gallery">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                </div>

                <div class="modal-body">


                    <!-- Carousel -->

                    <div id="carousel-example-manel" class=" slide img-responsive carousel-manel " style="border: 1px solid #f5f5f5;border-radius: 10px">

                        <div class="carousel-inner">
                            {% for key, row in list_img %}
                                {% if key == 0 %}
                                    <div class="item active">
                                        <h4 class="modal-title" style="text-align: center">{{ row['image'].imageName }}</h4>
                                        <img src="{{asset('bundles/front/uploads/images/'~row['image'].imageName)}}">
                                        <div class="carousel-caption">
                                            ...
                                        </div>
                                        <div class="modal-footer">

                                    <!-- Commentaires -->
                                    <div class="media bloc-comments">
                                        <div class="media-body">
                                            <form id="{{ row['image'].imageName }}" action="{{ path('quelp_image_comment') }}" method="post">
                                                <div id="listComment{{ key }}" name="listComment{{ key }}" class="col-sm-12" >
                                                    {% include 'QuelpImageBundle:Default:index.html.twig' with {'comments' : list_img[key]['comment']}  %}
                                                </div><br><br>
                                                <div class="col-sm-12">
                                                    <div class="col-sm-8" style="margin-left: 100px">
                                                        <input type="text" id="img{{key}}" value="{{row['image'].id}}" hidden/>
                                                        <input type="text" id="user{{key}}" value="{{row['image'].user.id}}" hidden="hidden"/>
                                                        <textarea id="comment{{ key }}" class="form-control" placeholder="Comment this picture" ></textarea>
                                                    </div>
                                                    <div class="col-sm-2">
        <input type="button" class="btn" style="color: #ffffff;background-color: lightskyblue" value="Comment" onClick="javascript:  sendAjax( '{{ row['image'].imageName }}', '{{ key }}' )"/>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                                    </div>
                                {% else %}
                                    <div class="item">
                                        <h4 class="modal-title" style="text-align: center">{{ row['image'].imageName }}</h4>
                                        <img src="{{asset('bundles/front/uploads/images/'~row['image'].imageName)}}">
                                        <div class="carousel-caption">
                                            ...
                                        </div>
                                        <div class="modal-footer">

                                    <!-- Commentaires -->
                                    <div class="media bloc-comments">
                                        <div class="media-body">
                                            <form id="{{ row['image'].imageName }}" action="{{ path('quelp_image_comment') }}" method="post">
                                                <div id="listComment{{ key }}" name="listComment{{ key }}" class="col-sm-12" >
                                                    {% include 'QuelpImageBundle:Default:index.html.twig' with {'comments' : list_img[key]['comment']}  %}
                                                </div><br><br>
                                                <div class="col-sm-12">
                                                    <div class="col-sm-8" style="margin-left: 100px">
                                                        <input type="text" id="img{{key}}" value="{{row['image'].id}}" hidden/>
                                                        <input type="text" id="user{{key}}" value="{{row['image'].user.id}}" hidden="hidden"/>
                                                        <textarea id="comment{{ key }}" class="form-control" placeholder="Comment this picture" ></textarea>
                                                    </div>
                                                    <div class="col-sm-2">
        <input type="button" class="btn" style="color: #ffffff;background-color: lightskyblue" value="Comment" onClick="javascript:  sendAjax( '{{ row['image'].imageName }}', '{{ key }}' )"/>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-manel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-manel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


</div>
    {% include "QuelpConnectBundle:Common:right_bloc.html.twig"  %}

<script type="text/javascript">

    function sendAjax(img_name, key)
    {
        var comment = document.getElementById("comment"+key).value;
        var id_img = document.getElementById("img"+key).value;
        var userId = document.getElementById("user"+key).value;
        var DATA = 'commentText=' + comment + '&img=' + id_img + '&userCreate=' + userId;
        $.ajax({
            type: "POST",
            url: "{{ path('quelp_image_comment') }}",
            data: DATA,
            cache: false,
            success: function(data){
                document.getElementById("comment"+key).value = "";
                document.getElementById("listComment"+key).innerHTML = data;
            }
        });
    }

    function submitform()
    {
        var result = confirm("Do you really want to delete the selected Image(s)?");
        if (result) {
            var form = document.getElementById('delete');
            form.submit();
        }
        else{
            alert("deletion cancelled");
        }
    }

    function reset() {
        $(".delete-pictures").css('display') == 'none';
    }
</script>
{% endblock %}