{% block content %}

    <!--
        Suite

            Si ami est connecté
                affiche l'état initiale
            Sinon
                affiche l'effet


            Si reçoit un message
                affiche l'effet blink
            Sinon
                Laisser en l'état

    -->

<!--<div class="col-xs-12 col-md-2" style="margin-top: 20px">
    <div class="panel panel-primary" >-->
        <div class="friend-connect-title" style="padding: 30px 0 30px 0;text-align: center;">
            <span style="color:green"><i class="glyphicon glyphicon-off" style="font-size:18px;"></i></span>
            <span style="font-size: 20px">&nbsp;Amis </span>
        </div>

        <table class="list-friend">
            <tr>
                <td class="flip end-list-friend">

                    <img class="media-object img-circle img-friend-deconnect" src="{{ asset('bundles/front/img/feriel.jpg') }}" width="45" height="45" style="float: left;border: 1px solid grey">
                    <div class="media-body">
                        <h5 class="media-heading">Fériel Abachi</h5>
                    </div>
                    <div class="panel-message">


                    </div>
                </td>
            </tr>
         </table>

        <table class="list-friend connect-friend">
            <tr>
                <td class="flip end-list-friend">

                    <img class="media-object img-circle" src="{{ asset('bundles/front/img/pris.jpg') }}" width="45" height="45" style="float: left;border: 1px solid grey">
                    <div class="media-body">
                        <h5 class="media-heading">Priscillia Lorentz</h5>
                    </div>


                    <div class="panel-message">


                    </div>
                </td>
            </tr>
        </table>

        <table class="list-friend connect-friend">
            <tr>
                <td class="flip end-list-friend">
                    <img class="media-object img-circle" src="{{ asset('bundles/front/img/mannoula.jpg') }}" width="45" height="45" style="float: left;border: 1px solid grey">
                    <div class="media-body">
                        <h5 class="media-heading">Manel Zrelli</h5>
                    </div>
                    <div class="panel-message">

                    </div>
                </td>
            </tr>
        </table>
        <table class="list-friend">
            <tr>
                <td class="flip end-list-friend">

                    <img class="media-object img-circle img-friend-deconnect" src="{{ asset('bundles/front/img/tim.jpg') }}" width="45" height="45" style="float: left;border: 1px solid grey">
                    <div class="media-body">
                        <h5 class="media-heading">Timothée Lestin</h5>
                    </div>
                    <div class="panel-message">


                    </div>
                </td>
            </tr>
        </table>

    <table class="list-friend">
        <tr>
            <td class="flip end-list-friend">

                <img class="media-object img-circle img-friend-deconnect" src="{{ asset('bundles/front/img/gatien.jpg') }}" width="45" height="45" style="float: left;border: 1px solid grey">
                <div class="media-body">
                    <h5 class="media-heading">Gatien Mouafou</h5>
                </div>


                <div class="panel-message">


                </div>
            </td>
        </tr>
    </table>
    <table class="list-friend">
        <tr>
            <td class="flip end-list-friend">

                <img class="media-object img-circle img-friend-deconnect" src="{{ asset('bundles/front/img/jb.jpg') }}" width="45" height="45" style="float: left;border: 1px solid grey">
                <div class="media-body">
                    <h5 class="media-heading">Jean-Baptiste</h5>
                </div>


                <div class="panel-message">


                </div>
            </td>
        </tr>
    </table>


<!--    </div>
</div>-->

{% endblock %}