

{% extends "QuelpImageBundle::layout.html.twig" %}

{% block title %} Acceuil {% endblock %}

{% block content %}

    <br><br>
    <div class="col-xs-12 col-md-3" >

        {% include "QuelpConnectBundle:Common:left_bloc.html.twig"  %}


    <div class="col-xs-12 col-md-7">
        <div class="panel panel-info">
            <div class="panel-heading">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h4>My Partners</h4> </a>
            </div>
            <p class="text-right"><a  href="{{ path('quelp_connect_editprofile') }}"> Back to general information </a></p>
            <div class="">

                <h1 class="text-center">Change your password</h1><br>

                <!-- Resultat de la recherche -->

                {% trans_default_domain 'FOSUserBundle' %}
                <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
                    <div class="form-group">
                        <span class="col-sm-2 control-label">{{ form_label(form) }}</span>
                        <div class="col-sm-9">
                            <span class="input-from-form">{{ form_widget(form) }}</span>
                        </div>
                        <span class="error-from-form">{{ form_errors(form) }}</span>
                    </div>

                    <div class="form-group">
                        <div class="col-md-5 col-md-offset-4"><br><button type="submit" class="btn btn-primary" value="{{ 'change_password.submit'|trans }}" >Save the changes</button><br></div>
                    </div>
                </form>

            </div>      <br>



            <div class="row">

            </div>
        </div>
    </div>

{% include "QuelpConnectBundle:Common:right_bloc.html.twig"  %}
{% endblock %}