{% extends "QuelpImageBundle::layout.html.twig" %}

{% block title %} Messages {% endblock %}

{% block content %}


    <!-- Page Content -->
    <div class="container-fluid">

    <div class="row-fluid">
    <div class="col-md-3">
        <div class="boder">
            <h4 class="text-center">Quelper</h4>
            <p class="text-center"><span class="glyphicon glyphicon-star-empty"></span>100%</p>
            <a href="#" ><img src="{{ asset('bundles/front/img/default-avatar.png') }}" height="125" width="125" alt="" class="img-rounded" style="margin-left: 20%"></a></br>
            <br><p class="text-center name-for-user"><span>{{ app.user.username }}</span>&nbsp;<span class="surname-for-user">{{ app.user.name }}</span></p>
            <!--<p class="text-center">22 ans</p>-->

                <div style="margin-left: 15%">
                    <br><span class="glyphicon glyphicon-book" style="font-size: 18px"></span><a href="{{ path('quelp_connect_profilepage') }}" style="color: rgba(0, 0, 0, 0.8);font-size: 15px;font-weight: 300">&nbsp;&nbsp;Profile</a></br>
                    <br><span class="glyphicon glyphicon-user" style="font-size: 18px"> </span> <a href="{{ path('quelp_relation_showall') }}" style="color: rgba(0, 0, 0, 0.8);font-size: 15px;font-weight: 300">&nbsp;Partner</a></br>
                    <br><span class="glyphicon glyphicon-picture" style="font-size: 18px"></span> <a href="{{ path('quelp_image_albumspage') }}" style="color: rgba(0, 0, 0, 0.8);font-size: 15px;font-weight: 300">&nbsp;Photo</a></br>
                </div>

        </div>
    </div>

    <div class="col-md-6">
        <div class="boder">

            <p class="text-center">
                <a href="{{  path('quelp_message_homepage') }}">
                    <button type="button" class="btn btn-default btn-msg">Message reçu <span class="glyphicon glyphicon-envelope"></span></button>
                </a>
            </p>
            <!-- Modal pour nouveau message -->
            <div class="modal fade" id="myModalnewMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        {% block new_message %}
                        {% endblock %}

                    </div>
                </div>
            </div>
            <!-- Fin Modal -->

            <!-- Begin message content -->

            <!-- ICI On liste les messages prenom et nom du sender +nb message ou nouveaux messages -->
            <div style="width:auto;height: 450px;overflow: auto;">
                {% for users in users_message %}
                    {% if users.username != app.user.username %}
                        <div class="list-group" style="width: 98%;overflow: scroll">
                            <!--data-toggle="modal"-->

                            <a href="{{ path('quelp_message_friendmessagepage', {'name': users.username}) }}" class="list-group-item" data-target="#myModalMessage">
         <span class="chat-img pull-left">
               <img src="{{ asset('bundles/front/img/default-avatar.png') }}" alt="User Avatar" class="img-circle" height="45" style="border: 1px solid rgba(0, 0, 0, 0.2)"/>
         </span>
                                <span class="badge"><span class="glyphicon glyphicon-eye-open"></span></span>
                                <div class="text-center">

                                    <h4 class="list-group-item-heading">{{ users.username }}</h4>
                                    <p class="list-group-item-text" style="font-weight: 300">Dapibus ac facilisis in</p>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div style="text-align: center;margin-top: 10px">
                <span class="glyphicon glyphicon-chevron-down" style="color: rgba(0, 0, 0, 0.6);font-size: 22px"></span>
            </div>
        </div>
    </div>

            <!-- Begin Tchat -->
            {% include 'QuelpConnectBundle:Common:right_bloc_for_message.html.twig'  %}

            <!-- End Tchat -->

    <!-- /.row -->

    <!-- /.container -->



{% endblock %}