{# Cette page est la page de connection #}

{% trans_default_domain 'FOSUserBundle' %}


{% block fos_user_content %}

    <!-- Header -->
    <div class="modal-header" style="background: url('/2SN/web/bundles/front/img/bg_Foto.jpg')">
        <button type="button" class="close" data-dismiss="modal" style="color: white"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel" style="color: white">Log In</h4>
    </div>

    <!-- Content -->
    <div class="modal-body">
        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}
        <form action="{{ path("fos_user_security_check") }}" class="form-horizontal log-in" method="post" style="margin-top: 30px">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <!-- Nom d'utilisateur -->
            <div class="form-group">
                <label for="username" class="col-sm-3 control-label" class="custom-label-login" style="color:dimgray;font-weight: 200">{{ 'security.login.username'|trans }}<span style="color: red; font-size: 10px"> &nbsp;*</span></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="username"  value="{{ last_username }}" name="_username" required="required" placeholder="Entrez votre nom d'utilisateur"/>
                </div>
            </div>

            <!-- Mot de passe -->
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label" class="custom-label-login" style="color:dimgray;font-weight: 200">{{ 'security.login.password'|trans }}<span style="color: red; font-size: 10px"> &nbsp;*</span></label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="password" name="_password" required="required" placeholder="Entrez votre mot de passe"/>
                </div>
            </div>

            <!-- Se souvenir -->
            <div class="form-group" >
                <div class="col-sm-8 col-sm-offset-3">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me" class="custom-label-login">{{ 'security.login.remember_me'|trans }}</label>
                    <span class="pull-right" style="font-size: 10px;color: dimgray">Mot de passe oublié ? <a href="{{ path('quelp_connect_passwordpage') }}">Cliquez-ici</a> </span><span class="glyphicon glyphicon-question-sign pull-right" style="font-size: 8px;color: dimgray;padding: 5px 5px 0 0"></span>
                </div>
            </div>

            <!-- Validation du formulaire + Mot de passe oublié -->
            <div class="form-group div-connect-button">
                <div class="col-sm-offset-3 col-sm-8">
                    <input type="submit" class="btn btn-default login-confirm" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" style="background: url('/2SN/web/bundles/front/img/bg_Foto.jpg');color: #f5f5f5;border: 1px solid rgba(255, 255, 255, 0.5)"/>
                    <span style="font-size: 9px;color: dimgray" class="pull-right">Champs obligatoires</span><span class="pull-right" style="color: red; font-size: 10px"> &nbsp;*&nbsp;&nbsp;</span>
                </div>
            </div>

            {## <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" /> --> ##}
    </form>

    </div>


    <!-- Footer -->
    <div class="modal-footer" style="background: url('/2SN/web/bundles/front/img/bg_Foto.jpg')">
        <span style="font-size: 10px;color: white">Pas encore de compte ? &nbsp;&nbsp;</span><a href="{{ path("quelp_connect_registerpage") }}" style="text-decoration: none;color: #f5f5f5"><button type="button" class="btn btn-default" style="background: url('/2SN/web/bundles/front/img/bg_Foto.jpg');border: 1px solid rgba(255, 255, 255, 0.5)"><span class="glyphicon glyphicon-cloud" style="color: white">&nbsp;</span><span style="color: rgba(0,0,0,0.5)">Cliquez-ici</span></button></a>
        <button type="button" class="btn btn-default" data-dismiss="modal" style="background: url('/2SN/web/bundles/front/img/bg_Foto.jpg');border: 1px solid rgba(255, 255, 255, 0.5);color: #f5f5f5">Close</button>
    </div>


{% endblock fos_user_content %}
