{# Cette page est la page home des pages connections d'inscription #}

{% extends "QuelpConnectBundle::layoutprofil.html.twig" %}

{% block title %} Accueil {% endblock %}

{% block content %}

{% trans_default_domain 'FOSUserBundle' %}



    {% block fos_user_content %}
        <!-- Page Content -->
        <div class="container-fluid fos_user_user_show" style="margin-top: 20px;">

        <div class="col-xs-12 row-fluid" style="margin-bottom: 20px">
            <div class="col-md-2">
                <div class="panel panel-info"  align="center"  >
                    <div class="panel-heading">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h4 class="text-center">Menu</h4> </a>
                    </div>
                <div class="boder">
                    <p><a href="{{ path('quelp_image_albumpage') }}" class="lien" style="font-size: 17px; font-weight: 300">Galleries</a></p>
                    <p><a href="{{ path('quelp_image_albumpage') }}" ><img src="{{ asset('bundles/front/img/bg_Foto.jpg') }}" width="115" alt="" class="img-border img-rounded" style="border: 3px solid rgba(255, 255, 255, 0.3);margin-top: 10px"></a></p>
                    <p ><a href="#" class="lien" style="font-size: 16px; font-weight: 300">Événements</a></p>
                    <a href="#" ><img src="{{ asset('bundles/front/img/symfony.png') }}" width="115" alt="" class="img-border img-rounded" style="margin-top: 10px;border: 3px solid rgba(255, 255, 255, 0.3)"></a>
                </div>
            </div>
            </div>
            <div class="col-xs-12 col-md-8">
                <div class="panel panel-info"  align="center"  >
                    <div class="panel-heading">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h4 class="text-center">My Profil</h4> </a>
                    </div>



                    <div class="media">

                        <a class="pull-left" href="#">
                            <img src="{{asset('bundles/front/img/default-avatar.png')}}"  height="160" width="160" alt="" class="img-thumbnail" >
                        </a>

                        <div class="media-body">

                            <div class="row">
                                <div class="col-md-1 col-md-offset-1"><h3><p class="firstname-profil" style="color: rgba(0, 0, 0, 0.5);">{{ user.username }}&nbsp;{{ user.name }}</p></h3></div>
                                <div class="col-md-5 col-md-offset-5"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><a href="{{ path('quelp_connect_editprofile') }}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-cog" style="color: white;padding-top: 3px"></span><span style="color: white">&nbsp;Modifier Profil</span></a></div>
                                <div class="col-md-4"><a href="{{ path('quelp_relation_showall') }}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-user" style="color: white;padding-top: 3px"></span><span style="color: white">&nbsp;Patterns</span></a></div>
                                <div class="col-md-4"><a href="{{ path('quelp_connect_editprofile') }}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-star" style="color: white;padding-top: 3px"></span><span style="color: white">&nbsp;Avis</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h4 class="text-center">My news</h4> </a>
                        </div>

                    <div style="float: left">

                    </div>


                    <div class="news">

                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="{{asset('bundles/front/img/default-avatar.png')}}" height="80px" alt="...">
                            </a>
                            <div class="media-body">
                                <small class="pull-right text-muted">
                                    <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                <h4 class="media-heading">{{user.surname}}</h4>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
                                Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                                vulputate fringilla. Donec lacinia congue felis in faucibus.
                                <br><br/><small class="pull-left text-muted"><a href="#" class="lien"><span class="glyphicon glyphicon-pencil"></span>Edit</a>
                                    <a href="#" class="lien"> <span class="glyphicon glyphicon-remove"></span> Supprimer</a></small>
                            </div>
                        </div>
                    </div>


                    <div class="news">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="{{asset('bundles/front/img/default-avatar.png')}}" height="80px" alt="...">
                            </a>
                            <div class="media-body">
                                <small class="pull-right text-muted">
                                    <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                <h4 class="media-heading">{{user.surname}}</h4>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
                                Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                                vulputate fringilla. Donec lacinia congue felis in faucibus.
                                <br></br><small class="pull-left text-muted"><a href="#" class="lien"><span class="glyphicon glyphicon-pencil"></span>Edit</a>
                                    <a href="#" class="lien"><span class="glyphicon glyphicon-remove"></span> Supprimer</a></small>
                            </div>
                        </div>
                    </div>

                    <div class="panel-group" id="accordion">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse">
                                <p class="text-center">Suite</p>
                            </a>
                        </h4>

                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h4 class="text-center">Partners</h4> </a>
                    </div>
                <div class="boder">
                    <input type="text" class="form-control" placeholder="chat with  ..."></br>
                    <div class="panel-group" id="accordion">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <p class="text-center">En ligne (5)  <span class="glyphicon glyphicon-chevron-down"></span></p>
                            </a>
                        </h4>

                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <br>
                                <table class="table">
                                    <tr>
                                        <td><a href=""><img src="image/icone-marvel.png" alt="" height="25px" class="img-circle"></a></td>
                                        <td><a href="" class="lien">Thomas</a></td>
                                        <td><span class="glyphicon glyphicon-ok-sign" style="color: #67b168"></span></td>
                                    </tr>
                                    <tr>
                                        <td><a href=""><img src="image/avatar2.jpg" alt="" height="25px" class="img-circle"></a></td>
                                        <td><a href="" class="lien">Damien</a></td>
                                        <td><span class="glyphicon glyphicon-ok-sign" style="color: #67b168"></span></td>
                                    </tr>
                                    <tr>
                                        <td><a href=""><img src="image/black-widow-icon.png" alt="" height="25px" class="img-circle"></a></td>
                                        <td><a href="" class="lien">Anne</a></td>
                                        <td><span class="glyphicon glyphicon-ok-sign" style="color: #eea236 "></span></td>
                                    </tr>
                                    <tr>
                                        <td><a href=""><img src="image/naruto.png" alt="" height="25px" class="img-circle"></a></td>
                                        <td><a href="" class="lien">Julien</a></td>
                                        <td><span class="glyphicon glyphicon-ok-sign" style="color: #67b168"></span></td>
                                    </tr>
                                    <tr>
                                        <td><a href=""><img src="image/rosa.jpg" alt="" height="25px" class="img-circle"></a></td>
                                        <td><a href="" class="lien">Sophie</a></td>
                                        <td><span class="glyphicon glyphicon-ok-sign" style="color: #67b168"></span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <!-- /.row -->

        </div>


            {% endblock %}



{% endblock %}